# Ignore temporary files
*.bak-mo

# Ignore trash bin
.Trash-1000/

# Ignore reference data for model checking
**/ReferenceData/

# Ignore implementation of solar position algorithm (no re-distribution allowed)
SolarPowerSystems/Resources/Include/spa.h
SolarPowerSystems/Resources/Include/spa.c
